@import '~bulma/sass/utilities/_all'
@import '~bulma/sass/elements/form'
@import '~bulma/sass/elements/button'
@import '~bulma/sass/components/tabs'
@import '~bulma/sass/grid/columns'
@import 'MapLayer'
@import 'AppHeader'
@import 'TimeLine'

.App 
  text-align: center

.App-logo 
  animation: App-logo-spin infinite 20s linear
  height: 80px

.App-intro 
  font-size: large


