.App-header 
  background-color: #D5DBF3
  min-height: 10px
  width: 100%
  overflow: hidden

.nav
   background-color: #CDCCDC

.gm-navA, .gm-navB, .gm-navC
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    border-left: 1px solid #B5B4C2
    border-right: 1px solid #B5B4C2
    border-top: 1px solid #B5B4C2

.gm-navA
    background-color: #D5DBF3

.gm-navB
    background-color: #D5DBF3
    margin: 0px 5px

.gm-navC
    background-color: #D5DBF3

.gm-rightHorn
    padding: 5px

.gm-form-control
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555
    background-color: #fff
    background-image: none
    border: 1px solid #ccc
    border-radius: 7px

.gr-shadowDiv
    box-shadow: 5px 5px 5px #888888
    border-left: 1px solid #B5B4C2
    border-right: 1px solid #B5B4C2
    border-bottom: 1px solid #B5B4C2

.innerResultsDiv
    padding: 30px 10px 10px 10px

@media (min-width: 0px) and (max-width: 768px)
  .leftNav-innerDiv-left
      display: none

  .leftNav-innerDiv-middle
      display: none

  .leftNav-outterDiv-middle
      display: none

  .leftNav-outterDiv-left
      display: none
