.App-header 
  background-color: #D5DBF3
  min-height: 10px
  width: 100%
  overflow: hidden

.nav
   background-color: #CDCCDC

.gm-navA, .gm-navB, .gm-navC
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    border-left: 1px solid #B5B4C2
    border-right: 1px solid #B5B4C2
    border-top: 1px solid #B5B4C2

.gm-navA
    background-color: #D5DBF3

.gm-navB
    background-color: #D5DBF3
    margin: 0px 5px

.gm-navC
    background-color: #D5DBF3

.gm-rightHorn
    padding: 5px

.gm-form-control
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555
    background-color: #fff
    background-image: none
    border: 1px solid #ccc
    border-radius: 7px
