.timeLine
  margin: 5px
  left: 5vw
  bottom: 5vh
  display: block
  position: absolute
  font-family: $roboto-font
  //box-shadow: 10px 10px 5px #888888

  ul
    list-style: none
    display: inline
    border-bottom: 8px solid $bg-color
    padding: 1vh 0 0 0
    margin: 0

  li
    padding-bottom: 30px
    position: relative
    content: '\272'
    display: inline
    padding: 1.5vw
